<section class="vtm-panel vtm-traits-panel vtm-abilities-panel">
  <h2>{{localize "VTM_REVISED.Section.Abilities"}} <span class="trait-cap-note">{{localize "VTM_REVISED.Generation.TraitMax"}} {{generationCaps.traitMax}}</span></h2>
  <div class="trait-columns">
    {{#each abilityGroups as |keys group|}}
      <div class="trait-column">
        <h3>{{localize (concat "VTM_REVISED.AbilityGroup." group)}}</h3>
        {{#each keys as |key|}}
          {{#with (lookup (lookup ../../system.abilities group) key) as |ability|}}
            <label class="trait-row {{#if (gt ability.value ../../../generationCaps.traitMax)}}trait-over-limit{{/if}}">
              <span class="trait-name">{{localize (concat "VTM_REVISED.Ability." key)}}</span>
              <span class="trait-pips" aria-hidden="true">
                {{#each ../../../traitPips as |pip|}}
                  <i class="{{#if (gte ../ability.value pip)}}is-filled{{/if}}"></i>
                {{/each}}
              </span>
              <input class="trait-value-input" type="number" name="system.abilities.{{group}}.{{key}}.value" value="{{ability.value}}" min="0" max="{{../../../generationCaps.traitMax}}"/>
              <button type="button" class="vtm-roll" data-trait="ability.{{group}}.{{key}}" data-label="{{localize (concat 'VTM_REVISED.Ability.' key)}}"><i class="fas fa-dice-d10"></i></button>
            </label>
          {{/with}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>
