<section class="vtm-panel vtm-profile-mini">
  <h2>{{localize "VTM_REVISED.Section.Profile"}}</h2>
  <div class="grid grid-2">
    <label>{{localize "VTM_REVISED.Profile.Player"}} <input name="system.profile.player" value="{{system.profile.player}}"/></label>
    <label>{{localize "VTM_REVISED.Profile.Age"}} <input name="system.profile.age" value="{{system.profile.age}}"/></label>
  </div>
</section>

<section class="vtm-panel text-blocks vtm-notes-panel">
  <h2>{{localize "VTM_REVISED.Profile.Notes"}}</h2>
  <label>{{localize "VTM_REVISED.Profile.Appearance"}} <textarea name="system.profile.appearance">{{system.profile.appearance}}</textarea></label>
  <label>{{localize "VTM_REVISED.Profile.History"}} <textarea name="system.profile.history">{{system.profile.history}}</textarea></label>
  <label>{{localize "VTM_REVISED.Profile.Goals"}} <textarea name="system.profile.goals">{{system.profile.goals}}</textarea></label>
  <label>{{localize "VTM_REVISED.Profile.AlliesContacts"}} <textarea name="system.profile.alliesContacts">{{system.profile.alliesContacts}}</textarea></label>
  <label>{{localize "VTM_REVISED.Profile.Possessions"}} <textarea name="system.profile.possessions">{{system.profile.possessions}}</textarea></label>
  <label>{{localize "VTM_REVISED.Profile.Notes"}} <textarea name="system.profile.notes">{{system.profile.notes}}</textarea></label>
</section>
